
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: large;
}

header {
    padding: 20px 10px;
    background-color: white;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

header img{
    width: 25px;
}

#player {
    width: 50px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    z-index: -2;
}

.syringe {
    height: 50px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    z-index: -3;
}

.virus {
    width: 50px;
    position: fixed;
    top: 0;
    z-index: -1;
}