
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: large;
    background-color: black;
}

#game-board {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 600px;
    width: 800px;
    overflow: hidden;
    background-color: white;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    z-index: 0;
    padding: 5px 10px;
    color: white;
    background-color: black;
    border-bottom: solid 10px black;
}

header img{
    width: 25px;
}

#player {
    width: 50px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    z-index: -2;
}

.syringe {
    height: 50px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    z-index: -3;
}

.virus {
    width: 50px;
    position: fixed;
    z-index: -1;
}